*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: white;
    color: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.16);
    position: sticky;
    top: 0;
    z-index: 10000;
}
select{
    border: none;
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-family: 'Arial', Helvetica, sans-serif;
}
.a{
    color: #333;
    text-transform: uppercase;
}.a:hover{
    color: blue;
}
ul li .a:hover{
    color: blue;
    text-decoration: underline;
    text-underline-offset: 20px;
    /* transition: .9s ease-in-out; */
    /* color: yellow; */
}
a{
    text-decoration: none;
    color: black;
}


.gridbox{
    background-color: #DAEEFF;
}
#grid{
    /* border: 1px solid black;   */
    height: 75vh;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* border: 1px solid black; */
    padding: 40px 100px;
    padding-bottom: 100px;
}
#services{
    font-weight:540;
    font-size: 45px;
    color: #173149;
    font-family: sans-serif;
    text-align: center;
    padding: 50px;

    padding-top: 50px;
    /* margin-bottom: -50px; */
}
.bhitra{
    height: 70vh;
    /* border: 1px solid red; */
}
#h3{
    font-size: 30px;
    font-weight: 550;
    text-align: center;
    margin: 50px 2px;
}
.g1{
    padding: 15px 15px;
    background-color:#F5FAFF;
    border-radius: 6px;
    box-shadow: 2px 2px 6px 2px gray;
}
.imgg{
    margin-top: 20px;
    margin-left: 140px;
}
.contentt{
    line-height: 1.5;
    font-size: larger;
    font-family: sans-serif;
    text-align: center;
}
.butn{
    margin: 60px 93vh;
}
.lastbotn{
    margin-top: -40px;
}
.lastbtn{
    margin-top: 30px;
}
.g1:hover{
    scale: 1.05;
    transition: .7s;
    box-shadow: 
    0 0 10px gray,
    0 0 20px gray,
    0 0 30px gray,
    0 0 40px gray;
}
span{
    color: red;
}

#flyt{
    color: black;
}
.iicon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    color: black;
    font-size: xx-large;
    padding-top: 7px;
    background-color: #3B82F6;
}

.footerbar {
    color: #FFFFFF;
}
.Icons{
    overflow: hidden;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #1f2937;
}
.footerr{
    background-color: #1f2937;
    padding-top: 20px;
   font-size: 14px;
   color: #FFFFFF;
   font-weight:600;
   font-family:  "Nunito sans" sans-serif;
    padding-bottom: 50px;
}
.contactfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    font-size: larger;
    padding: 22px 2px;
    background-color: #3B82F6;
}
.lastfooter{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}
#nepa{
    color: #EF4444;
    font-size: large;
}
#tronix{
    color: #3B82F6;
}
.fter{
    color: white;
    font-size: large;
}